.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  padding: 10px ;

  color: whitesmoke;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.title-image {
  animation: rotation360Back 0.6s linear;
  -webkit-animation: rotation360Back 0.6s linear;
  transition: all 0.2s ease-in-out;
}

.rotating {
  animation: rotation360 2s linear infinite;
  -webkit-animation: rotation360 2s infinite linear;
  transition: all 0.2s ease-in-out;
}

